
#container p {
    font-size: 20px;
margin: 30px;
margin-top: 50px;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  text-align: center;
  border-radius: 20px;
  height: 370px;
}

#container div  {
   width: 400px;
height: 470px;

   }

  
#container div p * {
 margin-top: 15px;

}


div p button {
    height: 50px;
    width: 200px;
    font-size: 20px;
    size: 110px;
    display: none;
}


div p button {
    display: block;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 1s, visibility 1s; 
    border-radius: 5px;
    border: 2px solid;
    border-radius: 5px;


 
}

div p:hover button {
    opacity: 1;
    visibility: visible;
    pointer-events: auto; 
}

p {
    display: flex;
    align-items: center; 
  }


#leftOne{
  display: flex;
  justify-content: center;
  align-items: center;
  
}


#leftOne p {
  text-align: center; 
  font-size: 26px;
  width: 700px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#container {
    display: flex;
    flex-wrap: wrap; 
   justify-content: center;
}


#lastButtons{
    text-align: center;
    justify-content: center;
    top: 50%;
    display: flex;
    margin: 0px;
    margin-bottom: 50px;
}


#lastButtons button {

    font-size: 20px;
    height: 50px;
    width: 170px;
background-color: rgb(247, 247, 247);
border-radius: 10px;

}

p {
    height: 350px;
    width: 250px;
display: flex;
justify-content: center;
align-items: center;
min-width: 300px;
min-height: 300px;
border-radius: 2px;

}

p:hover {
  box-shadow: 0px 0px 2px black;
}


p img {
    height: 190px;
    width: 60px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  color: #0e0909;
}

.nav-links a {
  color: #030202;
}


.logo {
  font-size: 32px;
}


.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: #dcebeb;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

.services {
  position: relative; 
}

.dropdown {
  background-color: rgb(191, 211, 211);
  padding: 1em 0;
  position: absolute; 
  display: none;
  border-radius: 8px;
  top: 35px;
}

.dropdown li + li {
  margin-top: 10px;
}

.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}

.dropdown li:hover {
  background-color: #b5caca;
}

.services:hover .dropdown {
  display: block;
}



input[type=checkbox] {
  display: none;
} 

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

@media (max-width: 768px) {
 .menu {
    display:none;
    position: absolute;
    background-color:rgb(184, 206, 206);
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    background-color:#bcd6d6;
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type=checkbox]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }

  .dropdown li:hover {
    background-color: #4c9e9e;
  }
}


#imageMain  {
  width: 100%;
    overflow: hidden; 
    display: flex;
    justify-content: center; 
}

#imageMain img {
  max-width: 100%; 
    height: auto; 
    display: block;
}

#black #leftDown nav  {
  padding-top: 40px;
}

#black{
  background-color: hsl(0, 0%, 0%);
  height: auto; 
  color: aliceblue;
  width: 100%; 
  display: flex; 
  justify-content: center; 
  
}

#black #pngImg{
  height: 120px;
  padding-top: 35px;
  padding-right: 70px;
  
}

#leftDown ul a{
  color: rgb(152, 187, 157); 
}

#leftDown ul {
  color: rgb(31, 180, 56); 
  font-size: 13px;
 padding-right: 70px;
 padding-top: 100px;
 }


#textCenter {
  padding-top: 25px;
  padding-left: 10px;
  padding-right: 20px;
  padding-bottom: 15px;
}


@media screen and (max-width: 800px) {
  #lastOfText img {
      height: 30px;
padding-top: 0px;
  
  }
}


@media screen and (max-width: 800px) {
  #textCenter {
      padding-top: 0px;
      padding-left: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
  }
}

@media screen and (max-width: 800px) {
  #leftDown{
      color: black; 
      font-size: 13px;
     padding-right: 50px;
     padding-top: 0px;
     display: none;
     }
}

@media screen and (max-width: 800px) {
  #black #pngImg{
      height: 60px;
      padding-top: 5px;
      padding-right: 15px;
      padding-bottom: 80px;
      
  }
}

@media screen and (max-height: 550px) {
  #black #pngImg{
    display: none;
      
  }
}

@media screen and (max-width: 200px) {
  #black #pngImg{
    display: none;
      
  }
}

@media screen and (max-height: 4000px) {
  #black {
      position: fixed;
      left: 0;
      bottom: 0; 
      
  }
}

@media screen and (min-width: 4500px) {
  #black *{
  font-size: 50px;
     
  }
}


@media screen and (max-height: 5000px) {
  #black {
      position:relative;
     
  }
}

